[submodule "script"]
	path = script
	url = git@github.com:github/UnityBuildScripts
[submodule "submodules/octokit.net"]
	path = submodules/octokit.net
	url = https://github.com/editor-tools/octokit.net.git
[submodule "submodules/dotnet-httpclient35"]
	path = submodules/dotnet-httpclient35
	url = https://github.com/shana/dotnet-httpClient35
