[submodule "script"]
	path = script
	url = git@github.com:github-for-unity/UnityBuildScripts
[submodule "submodules/packaging"]
	path = submodules/packaging
	url = https://github.com/github-for-unity/packaging
[submodule "src/git-for-unity"]
	path = src/git-for-unity
	url = https://github.com/spoiledcat/git-for-unity
