git*.zip*
*.csproj*
*.ncrunch*
.npmignore
.npmignore-net35
UI/version.json
UI/version.json.meta

# some directories we don't want
obj
obj.meta
node_modules
node_modules.meta
UnityTests
UnityTests.meta
Third Party Notices - net35.md
Third Party Notices - net35.md.meta
