<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="codeanalysis-full" Description="This ruleset only includes the rules we care about. I'll be adding new ones as we fix our codebase." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1030" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1045" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1402" Action="None" />
    <Rule Id="CA1403" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1406" Action="None" />
    <Rule Id="CA1407" Action="None" />
    <Rule Id="CA1408" Action="None" />
    <Rule Id="CA1409" Action="None" />
    <Rule Id="CA1410" Action="None" />
    <Rule Id="CA1411" Action="None" />
    <Rule Id="CA1412" Action="None" />
    <Rule Id="CA1413" Action="None" />
    <Rule Id="CA1501" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1701" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1703" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1713" Action="None" />
    <Rule Id="CA1714" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1719" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1722" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1800" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2118" Action="None" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2201" Action="Warning" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="IDE001" Action="None" />

    <!-- link demand -->
    <Rule Id="CA2123" Action="None" />

    <!-- disposable -->
    <Rule Id="CA1001" Action="None" />

    <!-- no we like our event handler signatures thankyouverymuch -->
    <Rule Id="CA1009" Action="None" />

    <!-- calling TryParse without using its return value is not a crime, Microsoft -->
    <Rule Id="CA1806" Action="None" />

    <!-- we're returning arrays from properties -->
    <Rule Id="CA1819" Action="None" />

    <!-- Unity does its own serialization and doesn't need special serializable type constructors -->
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2240" Action="None" />

    <!-- the compiler already warns about this -->
    <Rule Id="CA1823" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
  </Rules>
</RuleSet>