*.dll
*.pdb
*.pdb.meta
*.mdb
*.xml
*.local.json
*.zip
*.dylib
*.so
*.bundle
ProjectVersion.txt

Library/

// These files come from lib/
Assets/GitHub/Editor/libsfw.bundle.meta
Assets/GitHub/Editor/libsfw.so.meta
Assets/GitHub/Editor/x64/
Assets/GitHub/Editor/x86/